/*--footer Section---*/
footer {
  margin-top: 20px;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  
}

.footer ul {
  list-style: none;
}

.footer {
  background-color: black;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  margin-left: 50px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: black;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li  {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links i {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: black;
  transition: all 0.5s ease;
}

.footer-col .social-links i:hover {
  color: white;
  background-color: black;
}
.footer-btn{
  background-color: black;
  border: 1px solid white;
  color: #ffffff;
}
.footer-btn:hover{
  color: tomato;
}






@media screen and (max-width: 600px) and (min-width: 360px) {
.row{
  flex-direction: column;
}
.footer-col{
  width: 80%;
  margin-bottom: 40px;
}



}
